body {
    background-color: rgb(222, 235, 240);
    padding: 0;
    margin: 0;
}

.content-box {
    position: relative;
    top: 50px;
    margin: auto;
    max-width: 390px;
    width: 50vmax;
    height: 70vh;
    padding: 10px;
    border: 10px solid rgb(222, 235, 240);
    border-radius: 20px;
    box-shadow: -8px -8px 10px rgba(0, 0, 0, 0.6), 8px 8px 10px rgba(199, 199, 199, 0.25), inset 2px 2px 5px rgba(181, 188, 190, 0.6), inset -5px -5px 5px rgba(0, 0, 0, 0.3);
}

.display {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 80px;
    padding: 5px;
    background-color: rgb(222, 235, 240);
    box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.8), 2px 2px 10px rgba(255, 255, 255, 0.25), inset -2px -2px 5px rgba(255, 255, 255, 0.6), inset 2px 2px 5px rgba(0, 0, 0, 0.3);
    border: 5px solid rgb(15, 197, 60);
    border-radius: 5px;
}

.screen {
    text-overflow: clip;
}

.operations {
    margin-right: 10px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(5, minmax(10%, 1fr));
    gap: 5px 10px;
}

.zero {
    grid-column-start: 2;
    grid-column-end: 4;
}

.equals {
    grid-area: span;
    grid-column-start: 4;
    grid-column-end: 6;
}

.num {
    width: 60px;
    height: 60px;
    background-color: blue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 2px;
}

.delete,
.clear,
.equals,
.operation {
    width: 60px;
    height: 60px;
    background-color: rgb(0, 194, 26);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 2px;
}